<table class="adminpage--table">
    <thead>
        <tr>           
            <th>Data</th>
            <th>Godzina</th>
            <th>Temperatura</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in $ctrl.requestDataTemperatures">
            <td>{{x.date | formatLongDate}}</td>
            <td>{{x.time | formatUnixTime}}</td>
            <td>{{x.temperature | formatDoubleToFloat}}</td>
        </tr>
    </tbody>
</table>

<!-- {{$scope.formatUnixTime(1609127640)}}
{{$scope.formatUnixTime2(1609127640)}}<br>

{{formatUnixTime(1609127640)}}
{{formatUnixTime2(1609127640)}}<br>

{formatUnixTime(1609127640)}
{formatUnixTime2(1609127640)}<br>

formatUnixTime(1609127640)
formatUnixTime2(1609127640) -->