<table class="adminpage--table adminpage--table-stats">
    <thead>
        <tr>
            <th>COUNT</th>
            <th>AVG</th>
            <th>MAX</th>
            <th>MIN</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in $ctrl.requestDataStats">
            <td>{{x.count}}</td>
            <td>{{x.avg | formatDoubleToFloat}}</td>
            <td>{{x.max | formatDoubleToFloat}}</td>
            <td>{{x.min | formatDoubleToFloat}}</td>
        </tr>
    </tbody>
</table>

<!-- {{$ctrl.requestDataStats}}
{{$ctrl.requestData}} -->