<div class="container" ng-init="init()">
    <div class="row h-100">
        <div class="container">
            <div class="row">
                <form class="adminpage--form">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 adminpage--label-centered">
                                <label>Stacja
                                    <span data-toggle="tooltip" data-placement="right" title="Wybierz stację, dla której chcesz zobaczyć statystyki.">
                                        <i class="far fa-question-circle"></i>
                                    </span>
                                </label>
                                <select class="custom-select" id="adminpanel--form--select" ng-model="adminPanelStationModel">
                                    <option value="{'id': {{x.stationId}}, 'name': '{{x.name}}'}" ng-repeat="x in stations">{{x.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 adminpage--label-centered">
                                <label>Data startowa
                                    <span data-toggle="tooltip" data-placement="right" title="Wybierz początkową datę.">
                                        <i class="far fa-question-circle"></i>
                                    </span>
                                </label>
                                <input type="date" id="adminpanel--form--input-date-start" class="form-control" value="" ng-model="adminPanelStartDateModel">
                            </div>
                            <div class="col-md-4 adminpage--label-centered">
                                <label>Data końcowa
                                    <span data-toggle="tooltip" data-placement="right" title="Wybierz końcową datę.">
                                        <i class="far fa-question-circle"></i>
                                    </span>
                                </label>
                                <input type="date" id="adminpanel--form--input-date-end" class="form-control" value="" ng-model="adminPanelEndDateModel">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 50px;">
                            <!-- <button class="btn btn-primary" ng-click="getRequest()">Wyślij</button> -->
                            <button class="btn btn-primary" ng-click="getStationsFiltered()">Wyślij</button>
                        </div>
                        
                    </div>
                </form>
            </div>

            <div class="row" ng-if="requestDataTemperatures && requestDataStats">
                <div class="col-md-6">
                    <div class="container h-100">
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-12 adminpanel--div-admintable">
                                <admintablestats request-data-stats="requestDataStats" style="overflow-x:auto;"></admintablestats>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div linear-chart request-data-temperatures="requestDataTemperatures" class="adminpage--div--chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 adminpanel--div-admintable">
                    <admintable request-data-temperatures="requestDataTemperatures" style="overflow-x:auto;"></admintable>
                </div>
            </div>

        </div>
    </div>
</div>