<!-- form
    1. wybór stacji
    2. wartość pomiaru
    3. walidacja wartości -50 do +90
-->

<div class="container" ng-init="init()">
    <div class="row h-100">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div>

                <form class="form-control login--form">

                    <div class="form-row">
                        <div class="col-md-12 form-floating">
                            <input type="text" class="form-control" id="login" name="login">
                            <label for="login">Login</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-floating">
                            <input type="password" class="form-control">
                            <label><span>Password</span></label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary">Zaloguj!</button>
                        </div>
                    </div>

                </form>

            </div>
            
        </div>
    </div>
</div>