/*** GENERAL ***/

.form-row{
    margin-bottom: 30px;
}

form{
    margin-top: 30px;
}

.userpage--form--button-centered{
    text-align: center;
}

.tooltip {
    pointer-events: none;
}

.app-div{
    padding: 110px 70px 70px 110px;
    min-height: 100vh;
}

/*** NAVBAR ***/

navbar{
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

/*** ADMIN PAGE ***/

/* ADMIN TABLE */

.adminpage--table{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.adminpage--table td, .adminpage--table th{
    border: 1px solid #ddd;
    padding: 8px;
}

.adminpage--table tr:nth-child(even){
    background-color: #eee;
}

.adminpage--table tr:hover{
    background-color: #dfdfdf;
}

.adminpage--table th{
    padding: 12px 8px;
    background-color: dodgerblue;
    color: white;
}

/*** USER PAGE ***/

/* FORM */

.userpage--form{
    width: 40%;
    max-width: 40%;
}