/*** GENERAL ***/

.form-row{
    margin-bottom: 30px;
}

form{
    margin-top: 30px;
}

.userpage--form--button-centered{
    text-align: center;
}

.tooltip {
    pointer-events: none;
}

.app-div{
    padding: 110px 70px 70px 110px;
    min-height: 100vh;
}

.form-control-accepted, .form-control-accepted:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(28, 255, 28, 0.616);
}

.form-control-warning, .form-control-warning:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(255, 232, 28, 0.616);
}

.form-control-error, .form-control-error:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.678);
}

/*** NAVBAR ***/

navbar{
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

/*** ADMIN PAGE ***/

/* ADMIN TABLE */

.adminpage--table{
    border-collapse: collapse;
    min-width: 400px;
    margin: 0 auto;
}

.adminpage--table td, .adminpage--table th{
    border: 1px solid #ddd;
    padding: 8px;
}

.adminpage--table tr:nth-child(even){
    background-color: #eee;
}

.adminpage--table tr:hover{
    background-color: #dfdfdf;
}

.adminpage--table th{
    padding: 12px 8px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

.adminpanel--div-admintable{
    margin-top: 100px;
}

.adminpage--form{
    width: 100%;
}

.adminpage--label-centered{
    text-align: center;
    margin-top: 50px;
}

.adminpage--form{
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.adminpage--table tr td{
    text-align: center;
}

/*** USER PAGE ***/

/* FORM */

.userpage--form{
    width: 40%;
    max-width: 40%;
    min-width: 350px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.userpage--form .form-row{
    padding: 10px 0;
}

.userpage--form .form-row:nth-child(4) {
    margin-bottom: 50px;
}

.userpage--tooltip-invalid{
    display: block;
    position: relative;
    top: 0;
    width: 80%;
    margin: 0 auto;
}


/*** LOGIN ***/

.login--form{
    padding: 80px 20px;
}

.login--form .form-row{
    margin: 0;
}

.form-group.floating>label {
    bottom: 31px;
    left: 8px;
    position: relative;
    background-color: white;
    color: lightgrey;
    padding: 0px 5px 0px 5px;
    transition: 0.1s;
    pointer-events: none;
    transform-origin: bottom left;
}

.form-control.floating:focus~label{
    transform: translate(1px,-93%) scale(0.80);
    color: #005ebf;
}

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-93%) scale(0.80);
}