/*** GENERAL ***/

body{
    background-color: #364f6b;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-row{
    margin-bottom: 30px;
}

form{
    margin-top: 30px;
}

.userpage--form--button-centered{
    text-align: center;
}

.tooltip {
    pointer-events: none;
}

.app-div{
    padding: 110px 70px 110px 70px;
    min-height: 100vh;
}

.form-control-accepted, .form-control-accepted:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(28, 255, 28, 0.616);
}

.form-control-warning, .form-control-warning:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(255, 232, 28, 0.616);
}

.form-control-error, .form-control-error:focus{
    border-color: #ddd;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.678);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*** NAVBAR ***/

navbar{
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 999;
}

.navbar{
    padding: 0 1rem;
    height: 60px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

nav{
    background-color: #2c4766;
}

.btn-primary{
    background-color: #fc5185!important;
    border-color: #db3e6d!important;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0 0 0 0.2rem #db3e6d81!important;
}

.navbar-nav{
    width: 100%;
    line-height: 60px;
}

.nav-link{
    padding: 0;
}

#navbarNav, .navbar-nav{
    height: 100%;
}

.navbar-nav li:nth-last-child(2){
    margin-left: auto;
}


.navbar-nav li:hover{
    background-color: #2a3e55;
}

.navbar-nav li:last-child{
    padding: 0 20px;
}

.navbar-nav li:last-child:hover{
    background-color: transparent;
}

.navbar--button-logout{
    background: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.navbar-brand{
    display: none;
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 0;
        height: auto;
    }

    .navbar-nav li:last-child{
        display: none;
    }

    .navbar-nav li, .navbar--button-logout{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .navbar-toggler{
        margin-left: auto;
    }

    .navbar{
        padding: 5px;
    }

}

/*** ADMIN PAGE ***/

/* ADMIN TABLE */

.adminpage--table{
    border-collapse: collapse;
    /* min-width: 400px; */
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.adminpage--table td, .adminpage--table th{
    padding: 8px;
}

.adminpage--table tr:nth-child(even){
    background-color: #384d63;
}

.adminpage--table tr:nth-child(odd){
    background-color: #3f546b;
}

.adminpage--table tr:hover{
    background-color: #4a6483;
}

.adminpage--table th{
    padding: 12px 8px;
    background-color: #2a3e55;
    color: white;
    text-align: center;
}

.adminpanel--div-admintable{
    margin-top: 100px;
}

.adminpage--form{
    width: 100%;
}

.adminpage--label-centered{
    text-align: center;
    margin-top: 50px;
}

.adminpage--form{
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: #2a3e55;
}

.adminpage--form label{
    font-size: 20px;
}

.adminpage--table tr td{
    text-align: center;
}

/*** USER PAGE ***/

/* FORM */

.userpage--form{
    width: 40%;
    max-width: 40%;
    min-width: 350px;
    padding: 30px;
    border-radius: 20px;
    background-color: #2a3e55;
}

.userpage--form .form-row{
    padding: 10px 0;
}

.userpage--form .form-row:nth-child(4) {
    margin-bottom: 50px;
}

.userpage--tooltip-invalid{
    display: block;
    position: relative;
    top: 0;
    width: 80%;
    margin: 0 auto;
}


/*** LOGIN ***/

.login--form{
    padding: 120px 70px;
    background-color: #2a3e55;
    border: 0;
    border-radius: 20px;
}

.login--form .form-row{
    margin: 0;
}

.form-group.floating>label {
    bottom: 31px;
    left: 8px;
    position: relative;
    background-color: white;
    color: lightgrey;
    padding: 0px 5px 0px 5px;
    transition: 0.1s;
    pointer-events: none;
    transform-origin: bottom left;
}

.form-control.floating:focus~label{
    transform: translate(1px,-93%) scale(0.80);
    color: #005ebf;
}

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-93%) scale(0.80);
}

.login--container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*** CHART ***/

.adminpage--div--chart{
    background-color: #2a3e55;
    border-radius: 20px;
    padding: 20px 20px 20px 0;
    overflow-x:auto;
}

.axis path,
.axis line{
  fill: none;
  stroke: #fff;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
  fill: white;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick
{
  stroke-dasharray: 1, 2;
}

@media screen and (max-width: 780px){
    .app-div{
        padding: 40px 10px;
    }
}

